
.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: gray;
}
.images{
    width: 3rem;
    height: 3rem;

}
.titulo{
    font-size: 2rem;
    align-self: center;
}

.titulo2{
    font-size: 2rem;
    align-self: center;
}

.botao{
    border-radius:10px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 50px ;
    margin: 1rem;
    padding: 1rem 0.1rem 1rem 0.1rem;
    border: solid 1px;
    border-width: 2px;
    align-items: center;
    justify-content: center;
}